<p id="notice"><%= notice %></p>

<h1><%= t('teams') %></h1>

<%= link_to t('team_new'), new_team_path %>
<br>
<br>

<table class="table table-hover table-bordered highlight responsive-table">
  <thead>
    <tr>
      <th style="text-align: center">#</th>
      <th style="text-align: center"><%= t('name') %></th>
      <th style="text-align: center" colspan="3"><%= t('actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% num = 0 %>
    <% @teams.each do |team| %>
      <tr>
        <td align="center"><%= num += 1 %></td>
        <td align="center"><%= team.name %></td>
        <td align="center"><%= link_to 'Ver', team %></td>
        <td align="center"><%= link_to 'Editar', edit_team_path(team) %></td>
        <td align="center"><%= link_to 'Remover', team, method: :delete, data: { confirm: t('destroy_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
