<%= form_for(kid) do |f| %>
  <% if kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kid.errors.count, "erro") %> encontrado(s):</h2>

      <ul>
      <% kid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('name') %>
    <%= f.text_field :name, { class: "form-control", placeholder: "Ex: João da Silva" } %>
  </div>

  <div class="field">
    <%= f.label t('amount') %>
    <%= f.text_field :amount, { class: "form-control", placeholder: "Ex: 50.00" } %>
  </div>

  <div class="field">
    <%= f.label t('team') %>
    <%= f.select :team_id, options_for_select(@teams.map{ |t| [t.name, t.id] }), {}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('back'), kids_path, class: 'btn btn-default' %>
  </div>

<% end %>
