<p id="notice"><%= notice %></p>


<h1>Lista de acampantes</h1>

<%= link_to 'Cadastrar novo', new_kid_path %>
<br>
<br>

<table class="table table-hover table-bordered highlight responsive-table">
  <thead>
    <tr>
      <th style="text-align: center">Nome</th>
      <th style="text-align: center">Saldo</th>
      <th style="text-align: center">Equipe</th>
      <th style="text-align: center" colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @kids.each do |kid| %>
      <tr>
        <td align="center"><%= kid.name %></td>
        <td align="center"><%= number_to_currency_br(kid.amount) %></td>
        <td align="center"><%= kid.team.name %></td>
        <td align="center"><%= link_to 'Comprar', kid %></td>
        <td align="center"><%= link_to 'Editar', edit_kid_path(kid) %></td>
        <td align="center"><%= link_to 'Remover', kid, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th style="text-align: center">Nome</th>
      <th style="text-align: center">Saldo</th>
      <th style="text-align: center">Equipe</th>
      <th style="text-align: center" colspan="3">Ações</th>
    </tr>
  </tfoot>
</table>
