<p id="notice"><%= notice %></p>

<h1><%= t('kids') %></h1>

<%= link_to t('new'), new_kid_path %>
<br>
<br>

<table class="table table-hover table-bordered highlight responsive-table">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('name') %></th>
      <th><%= t('amount') %></th>
      <th><%= t('team') %></th>
      <th colspan="4"><%= t('actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% num=0 %>
    <% @kids.each do |kid| %>
      <tr>
        <td><%= num += 1 %></td>
        <td><%= kid.name %></td>
        <td><%= number_to_currency_br(kid.amount) %></td>
        <td><%= kid.team.name %></td>
        <td><%= link_to t('show'), kid %></td>
        <td><%= link_to t('buy'), kid %></td>
        <td><%= link_to t('edit'), edit_kid_path(kid) %></td>
        <td><%= link_to t('destroy'), kid, method: :delete, data: { confirm: t('destroy_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
