<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @kid.name %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @kid.amount %>
</p>

<p>
  <strong>Equipe:</strong>
  <%= @kid.team.name %>
</p>

<%= link_to 'Editar', edit_kid_path(@kid) %> |
<%= link_to 'Voltar', kids_path %>
