<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @kid.name %>
</p>

<p>
  <strong><%= t('amount') %>:</strong>
  <%= @kid.amount %>
</p>

<p>
  <strong><%= t('team') %>:</strong>
  <%= @kid.team.name %>
</p>

<%= link_to t('edit'), edit_kid_path(@kid) %> |
<%= link_to t('back'), kids_path %>
