<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= t('app_title') %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid nav-wrapper container">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if request.fullpath == '/' %>"><%= link_to 'Início', '/', class: 'navbar-brand' %></li>
          <li class="<%= 'active' if params[:controller] == 'kids' and request.fullpath != '/' %>"><%= link_to t('kids'), kids_path %></li>
          <li class="<%= 'active' if params[:controller] == 'teams' %>"><%= link_to t('teams'), teams_path %></li>
          <li class="<%= 'active' if params[:controller] == 'products' %>"><%= link_to t('products'), '#' %></li>
          <li class="<%= 'active' if params[:controller] == 'histories' %>"><%= link_to t('history'), '#' %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">

        <%= yield %>

      </div>
    </div>

  </body>
</html>
