<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cantina IBF Kids</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid nav-wrapper container">
        <div class="navbar-header">
          <%= link_to 'Início', '/', class: 'navbar-brand active'%>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Acampantes', '/acampantes'%></li>
          <li><%= link_to 'Equipes', '/equipes'%></li>
          <li><%= link_to 'Produtos', '#'%></li>
          <li><%= link_to 'Histórico', '#'%></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">

        <%= yield %>

      </div>
    </div>

  </body>
</html>
